<h1>Juego del Ahorcado</h1>
<h3 id="longitudPalabra"> La Palabra tiene <small>{{longpalabra}}</small> Letras</h3>
<div class="row">
  <div class="col text-center">

    <img class="ahorcado-img" src="assets\img\{{intentos}}.png" alt="">

    <h3 id="intentos" class="chanses"> Intentos <small>{{intentos}}/9</small> </h3>


  </div>


</div>
<div class="row">
  <div class="col text-center">
    <h1 id="palabra">{{palabraOculta}}</h1>

  </div>
</div>
  <div class="row" *ngIf="gano">
    <div class="col text-center">
      <h1 id="palabra">Felicidades Ganaste</h1>
      <h4>:D</h4>

    </div>
  </div>
  <div class="row" *ngIf="perdio">
    <div class="col text-center">
      <h1 id="palabra">Lo siento Perdiste</h1>
      <h4>{{palabra}}</h4>

    </div>

  </div>

  <div class="row" *ngIf="(!perdio && !gano)">
    <div class="col text-center">
      <button (click)="comprobar(letra)" *ngFor="let letra of letras" class=" btn-primary">{{letra}}</button>

    </div>

  </div>