/* You can add global styles to this file, and also import other style files */
body {
    background: rgba(212,228,239,1);
background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}
h1 {
    text-align: center;
    color: crimson;
}
h1#palabra {
    font-size: 40px;
    text-align: center;
    color: crimson;
}
.ahorcado-img {
    height:400px ;
}
.btn-primary{
    color:red;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
}
h3#longitudPalabra{
    color: indigo;
    text-align: center;
}
h3#intentos {
    color: rgb(248, 165, 10);
   
}
h3 small{
    color: green;
    font-size: 30px;
}
div h1{
    color: brown;
    font-size: 30px;
}
